In [149]:
import sqlite3,csv
from pandas import DataFrame
%matplotlib inline

In [2]:
sqlite3.version

'2.6.0'

In [133]:
con = sqlite3.connect(":memory:")
cur = con.cursor()
cur.execute("CREATE TABLE sales (product_line,product_name,seller,day,month,quarter,year,forecast_revenue,revenue,quantity,unit_price,unit_cost,retailer_name,retailer_country,region);")

In [134]:
 # `with` statement available in 2.5+
# csv.DictReader uses first line in file for column headings by default
with open('sales.csv', "r",encoding='utf-8', errors='ignore') as file:
    dr = csv.DictReader(file) # comma is default delimiter
    to_db = [(i['product_line'], i['product_name'],i['seller'],i['day'],i['month'],i['quarter'],i['year'],i['forecast_revenue'],i['revenue'],i['quantity'],i['unit_price'],i['unit_cost'],i['retailer_name'],i['retailer_country'],i['region']) for i in dr]

In [135]:
cur.executemany("INSERT INTO sales (product_line,product_name,seller,day,month,quarter,year,forecast_revenue,revenue,quantity,unit_price,unit_cost,retailer_name,retailer_country,region) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?);", to_db)

**List the average revenue and average forecasted revenue for all product line in all regions in the past.**

In [88]:
result_one = cur.execute("SELECT product_line, region, year, sum(revenue)/count(*) as avg_revenue,sum(forecast_revenue)/count(*) as avg_forecast,count(*) as num_of_orders FROM sales GROUP BY product_line, region, year ORDER BY product_line, region, year;").fetchall()
df_one = DataFrame(result_one)
df_one.columns = list(map(lambda x: x[0], cur.description))
df_one.head()

,product_line,region,year,avg_revenue,avg_forecast,num_of_orders
0,Camping Equipment,Americas,2011,26577.600130,28368.690978,3232
1,Camping Equipment,Americas,2012,46921.296888,49398.990656,2378
2,Camping Equipment,Asia Pacific,2011,27446.259677,29138.288396,1858
3,Camping Equipment,Asia Pacific,2012,26458.129355,27874.797240,2138
4,Camping Equipment,Central Europe,2011,26100.829450,27676.621427,2874

In [89]:
df_one.to_csv('df_one.csv')

**Find the most profitable product line in the Americas in 2012.**

In [146]:
query_two = "select product_line,sum(avg_revenue*num_of_orders) as total_revenue from (SELECT product_line, region, year, sum(revenue)/count(*) as avg_revenue, sum(forecast_revenue)/count(*) as avg_forecast, count(*) as num_of_orders FROM sales group by product_line, region, year order by product_line, region, year) where year ='2012' and region='Americas' group by product_line order by total_revenue desc;"
result_two = cur.execute(query_two).fetchall()
df_two = DataFrame(result_two)
df_two.columns = list(map(lambda x: x[0], cur.description))
df_two.head()

               product_line  total_revenue
0         Camping Equipment    55789422.00
1      Personal Accessories    47693380.89
2            Golf Equipment    19774216.77
3  Mountaineering Equipment    12398325.64
4        Outdoor Protection      895877.14

In [155]:
df_two.to_csv('df_two.csv')

In [147]:
query_two_2 = "SELECT product_line,sum(revenue) as total FROM sales WHERE year='2012' AND region='Americas' GROUP BY product_line ORDER BY total DESC;"
result_two_2 = cur.execute(query_two_2).fetchall()
df_two_2 = DataFrame(result_two_2)
df_two_2.columns = list(map(lambda x: x[0], cur.description))
df_two_2.head()

               product_line        total
0         Camping Equipment  55789422.00
1      Personal Accessories  47693380.89
2            Golf Equipment  19774216.77
3  Mountaineering Equipment  12398325.64
4        Outdoor Protection    895877.14